 
    .formNl h2 {
        font-size: 21px;
    }
    .videoCaja {
        object-fit: cover;
        width: 800px;
        height: 500px;
    }
       
    .luImagen {
        object-fit: contain;
        height: 220px;
    }
    