 
    .formNl  {
        margin-bottom: 200px;
            h2 {
        font-size: 21px;

    }
}
    .videoCaja {
        object-fit: cover;
        width: 800px;
        height: 500px;
    }
       
    .luImagen {
        object-fit: contain;
        height: 220px;
    }
    
    .lu404 {

    object-fit: contain;
    margin-top: 80px;
    height: 380px;
    margin-bottom: 150px;
    }

    .coleccionesCards {

        margin-bottom: 200px;
    }